/* Contact */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

header .bg-dark {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

header .dropdown-menu {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  border: none !important;
  background-color: #094508 !important;
}

header .bg-dark,
.dropdown-menu {
  background-color: #115810 !important;
}

header .logo-nav {
  margin-top: -1rem;
}

.navbar-brand {
  font-size: 24px !important;
  font-weight: 700;
  margin-top: 0.5rem;
}

.navbar .btn-primary {
  background-color: #e54201;
}

.navbar .btn:hover {
  background-color: #f36b35 !important;
}

.navbar .btn:active {
  background-color: #ce3b01 !important;
}

/* animation dropdown */
@media (min-width: 200px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(-2rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* user profile display after login */
#user-profile {
  background-color: #e54201;
  padding: 0.6rem 0.8rem;
}

#user-profile i {
  font-size: 1.6rem !important;
}

#user-name {
  width: 48% !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

#jumbotron-contact {
  margin-top: 4.4rem;
}

#jumbotron-contact > div {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/contact-jumbotron.svg") !important;
  background-size: cover;
}

#content-form {
  margin-bottom: 10vh;
}

#content-form > div {
  width: 85vw;
  height: auto;
  background-color: #115810 !important;
}

#content-form #hear {
  color: rgba(243, 107, 53, 1);
}

#content-form .btn-primary {
  background-color: #e54201;
}

#content-form .btn:hover {
  background-color: #f36b35 !important;
}

#content-form .btn:active {
  background-color: #ce3b01 !important;
}

#invalid-email,
#invalid-fullname,
#invalid-message {
  font-size: 0.8rem;
}

footer {
  background-color: #115810;
  height: 40vh;
}

footer li {
  list-style-type: none;
}

footer > .container-fluid {
  width: 80vw !important;
}

@media screen and (max-width: 992px) {
  #user-name {
    width: auto !important;
  }

  #content-form > .rounded-5 {
    border-radius: 20px !important;
  }

  #content-form form {
    margin: 0 15px;
  }

  #content-form input,
  textarea,
  button {
    font-size: 15px !important;
  }

  footer {
    height: auto;
  }

  footer h5 {
    font-size: 1rem;
  }

  footer .fs-6 {
    font-size: 1.5rem;
  }
}
