* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar {
    background: #115810;
    padding: 1rem;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
}

.logo-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -1rem;
}

.btn-login {
    background: #E54201;
    border-color: #E54201;
    font-weight: 600;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-item img {
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.wrapper-carousel {
    width: 40%;
}

.btn-carousel {
    background-color: #115810;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
}

.btn-carousel:hover {
    background-color: #56C054;
}

.btn-carousel:active {
    background-color: #094508 !important;
}

.carousel-indicators .active {
    background-color: #E54201;
}

.card-event{
    background-color: #F0F0F0;
}

.btn-event {
    background-color: #E54201;
    color: #fff;
    border: none;
}

.btn-event:hover {
    background-color: #F36B35;
    color: #fff;
}

.btn-event:active {
    background-color: #CE3B01 !important;
    color: #fff !important;
}

.btn-showall-event {
    border: 2px solid #E54201;
    background-color: transparent;
    color: #E54201;
    font-weight: 500;
}

.btn-showall-event:hover {
    background-color: #F36B35;
    color: #fff;
}

.btn-showall-event:active {
    border: 2px solid #CE3B01 !important;
    background-color: #CE3B01 !important;
    color: #fff !important;
}


.fa-calendar-days, .fa-location-dot {
    color: #E54201;
}

.wrapper-article {
    padding: 2rem 0;
    background-color: #115810;
    color: #fff;
}

.btn-article a {
    background-color: #115810;
    color: #fff;
    border: none;
}

.btn-article a:hover {
    background-color: #56C054;
    color: #fff;
}

.btn-article a:active {
    background-color: #094508 !important;
    color: #fff !important;
}

.btn-showall-article {
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
}

.btn-showall-article:hover {
    background-color: #E54201;
    color: #fff;
}

.btn-showall-article:active {
    border: 2px solid #CE3B01 !important;
    background-color: #CE3B01 !important;
    color: #fff !important;
    border: none;
}

.card-body h5{
    font-weight: bold;
}

.left-article {
    height: 606px;
}

.left-article img {
    height: 100%;
    object-fit: cover;
}

.right-article {
    background-color: #fff;
}

.right-article img {
    height: 100%;
    object-fit: cover;
}

#content-form {
    margin-bottom: 10vh;
}

#content-form>div {
    width: 85vw;
    height: auto;
    background-color: #115810 !important;
}

#content-form #hear {
    color: rgba(243, 107, 53, 1);
}

#content-form .btn-primary {
    background-color: #E54201;
}

#content-form .btn:hover {
    background-color: #F36B35 !important;
}

#content-form .btn:active {
    background-color: #CE3B01 !important;
}

footer {
    background-color: #115810;
    height: 40vh;
}

footer li {
    list-style-type: none;
}

footer>.container-fluid {
    width: 80vw !important;
}

@media screen and (max-width: 992px) {
    #content-form>.rounded-5 {
        border-radius: 20px !important;
    }

    #content-form form {
        margin: 0 15px;
    }

    #content-form input,
    textarea,
    button {
        font-size: 15px !important;
    }

    footer {
        height: auto;
    }

    .wrapper-carousel {
        width: 80%;
    }

    .left-article img{
        height: 300px;
    }

    .left-article {
        height: auto;
    }

    .mid-article, .mid-event {
        margin: 20px 0;
    }
    
}