body {
     font-family: 'Inter', sans-serif;
}

.navbar {
     background: #115810;
     padding: 1rem;
}

.logo-img {
     display: inline-block;
     width: 50px;
     height: 50px;
     margin-top: -1rem;
}

.btn-login {
     background: #E54201;
     border-color: #E54201;
     font-weight: 600;
}

main .text-event {
     margin-top: 8rem;
}

.container .card {
     width: 22rem;
     box-shadow: 8px 9px 18px -7px rgba(135,135,135,0.75);
     -webkit-box-shadow: 8px 9px 18px -7px rgba(135,135,135,0.75);
     -moz-box-shadow: 8px 9px 18px -7px rgba(135,135,135,0.75);
     /* margin: 0 auto; */
}

.btn-login:hover {
     background: #F36B35;
     border-color: #F36B35;
}

.container .card-title {
     font-weight: 600;
}

.btn-join-event {
     background: #E54201;
     border-color: #E54201;
     font-weight: 600;
}

.btn-join-event:hover {
     background: #F36B35;
     border-color: #F36B35;
}

@media (max-width: 576px) {
     .btn-login {
          margin-top: 1rem;
          min-width: 25%;
     }

     .container .card {
          margin: 1rem auto;
     }
}
