.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-item img {
    width: auto;
    height: 550px;
    object-fit: cover;
}

.card {
    background-color: #F0F0F0;
}

.wrapper-article {
    padding: 2rem 4rem;
}

.left-article {
    height: 97.7%;
    background-color: #fff;
}

.right-article {
    background-color: #fff;
}

.right-article img {
    height: 12.75rem;
    object-fit: cover;
}